#switcher-box {
    background: var(--container-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-left: 50px;
    margin-right: 100px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    transition: all var(--theme-shift-delay) ease;

    --btn-margin-top: -25px;
    --btn-margin-bottom: -25px;
    --btn-margin-between: 4px;
    --btn-padding: 30px;
}

#switcher-box.dark {
    background: var(--dark-container-color);
}

#switcher-box .switcher-btn {
    width: 100%;
    min-width: 100px;
    max-width: 200px;
    height: 100%;
    padding: var(--btn-padding);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #ccc;
    transition: all 0.4s ease;
}

#switcher-box .switcher-btn i {
    margin-right: 8px;
}

#switcher-box #clear-btn {
    background: linear-gradient(to bottom, var(--theme-color-1) 0%, var(--theme-color-2) 100%);
    margin-left: -15px;
    margin-right: var(--btn-margin-between);
    margin-top: var(--btn-margin-top);
    margin-bottom: var(--btn-margin-bottom);
}

#switcher-box.dark #clear-btn {
    background: var(--dark-field-color);
    color:  #fff;
}

#switcher-box #dark-btn {
    background: var(--container-color);
    margin-right: -15px;
    margin-left: var(--btn-margin-between);
    margin-top: var(--btn-margin-top);
    margin-bottom: var(--btn-margin-bottom);
}

#switcher-box.dark #dark-btn {
    background: linear-gradient(to bottom, var(--dark-theme-color-1) 0%, var(--dark-theme-color-2) 100%);
    color: rgb(37, 37, 37);
}